{% extends 'AdminBundle:Plugins:config.html.twig' %}
{% block inner_form %}

<div class="setting_field_row">
	<h4>API Configuration</h4>
	<div class="setting_fields">
		<div class="field_row">
			<label>API URL</label>
			<input type="text" name="settings[api_url]" value="{{ app.getSetting(plugin.id ~ '.api_url') }}" style="width: 50%; padding: 5px" />
			<p>This is the URL to your Highrise system, such as <i>https://example.highrisehq.com</i> .</p>
		</div>

		<div class="field_row">
			<label>API Token</label>
			<input type="text" name="settings[api_token]" value="{{ app.getSetting(plugin.id ~ '.api_token') }}" style="width: 50%; padding: 5px" />
			<p>This is the API token for your user. It can be found within Highrise under My Info &gt; API Token.</p>
		</div>
	</div>
</div>

<div class="setting_field_row">
	<h4>Widgets</h4>
	<div class="setting_fields">
		<div class="field_row">
			<label><input type="checkbox" name="widget_ticket" value="1" {% if showTicket %}checked="checked"{% endif %} />
				Enable ticket widget</label>
		</div>

		<div class="field_row">
			<label><input type="checkbox" name="widget_profile" value="1" {% if showProfile %}checked="checked"{% endif %} />
				Enable profile widget</label>
		</div>
	</div>
</div>

{% endblock %}