{##
 # This template is included at the top of the downloads section.
 ##}
<section class="dp-portal-section dp-title-section">
	<header>
		{% if category %}
			<h1>
				{{ phrase('user.downloads.title') }}: {{ category.title }}
			</h1>
		{% else %}
			<h1>{{ phrase('user.downloads.title') }}</h1>
		{% endif %}
	</header>
</section>