{##
 # The attachments row of the new ticket form
 ##}

<div class="dp-control-group">
	<div class="dp-control-label">
		<label><strong>{{ phrase('user.general.attachments') }}</strong></label>
	</div>
	<div class="dp-controls dp-fill">
		{% include 'UserBundle:Common:form-upload-input.html.twig' %}
	</div>
</div>
