{% extends 'AdminBundle:Plugins:install_step.html.twig' %}
{% block step_content %}
	<form action="{{ path('admin_plugins_install_step', {'plugin_id': 'dp_disqus', 'step': 1}) }}" method="post">
		<input type="hidden" name="process" value="1" />
		Your AddThis username (optional): <input type="text" name="addthis_username" value="" /><br />
		<button class="dp-button">Install</button>
	</form>
{% endblock %}