<div class="builder-type" title="Send message to HipChat room" data-rule-type="{{ plugin_event_type }}">
	<div class="builder-options">
		<input type="text" name="room" style="width: 150px" placeholder="Room name or ID" />
	</div>
</div>