<htmlpageheader name="deskproHeader">
    <table width="100%">
        <tr>
            <td>{{ phrase('user.general.page') }} {PAGENO}</td>
            <td align="right"></td>
        </tr>
    </table>
    <hr />
</htmlpageheader>