<html>
<head>
<script type="text/javascript">
	if (window.parent != window) {
		window.parent.DpStatus.update({{ results|json_encode|raw }}, {{ batch }});
		window.parent.DpStatus.doneBatch({{ batch }});
	}
</script>
</head>
<body>
</body>
</html>
