{##
 # This template is included at the top of the feedback section.
 ##}
<section class="dp-portal-section dp-new-feedback-section dp-title-section">
	<header>
		<h1>{{ phrase('user.feedback.feedback') }}</h1>
	</header>
	<article>
		<p>
			{{ phrase('user.feedback.description') }}
		</p>
	</article>
</section>