<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Block folders beginning with .">
				  <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
				  <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Web" stopProcessing="true">
				  <match url="^web/" />
				  <action type="None" />
				</rule>
				<rule name="Admin Interface" stopProcessing="true">
				  <match url="^admin/.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
				<rule name="Agent Interface" stopProcessing="true">
				  <match url="^agent/.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
				<rule name="Rewrite Test" stopProcessing="true">
				  <match url="^__checkurlrewrite$" />
				  <action type="Rewrite" url="index.php?_sys=checkurl" appendQueryString="false" />
				</rule>
				<rule name="Rewrite Test #2" stopProcessing="true">
				  <match url="^__checkurlrewrite/path$" />
				  <action type="Rewrite" url="index.php?_sys=checkurlpath" appendQueryString="false" />
				</rule>
				<rule name="Sitemap" stopProcessing="true">
				  <match url="^sitemap.xml$" />
				  <action type="Rewrite" url="file.php" />
				</rule>
				<rule name="Imported Rule 1" stopProcessing="true">
				  <match url="^.*$" />
				  <conditions logicalGrouping="MatchAny">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
				  </conditions>
				  <action type="None" />
				</rule>
				<rule name="Other Files" stopProcessing="true">
				  <match url="^.*$" />
				  <action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true" >
				    <add fileExtension=".bat" allowed="false"/>
				</fileExtensions>
				<hiddenSegments applyToWebDAV="true">
				    <add segment="data"/>
				    <add segment="app"/>
				    <add segment="cron.php"/>
				    <add segment="config.php"/>
				    <add segment="import.php"/>
				    <add segment="upgrade.php"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>