<div class="twitter-login-tab" data-element-handler="DeskPRO.User.ElementHandler.TwitterLogin">
	<div class="not-logged-in">
		<a href=""></a>
	</div>
	<div class="logged-in">
		<div class="dp-form-row">
			<div class="dp-form-label">
				<label>{{ phrase('agent.general.logged_in_as') }}</label>
			</div>
			<div class="dp-form-input">
				<span class="twitter-link"></span>
			</div>
		</div>
		<div class="dp-form-row">
			<div class="dp-form-label">
				<label>{{ phrase('agent.general.display_name') }} *</label>
			</div>
			<div class="dp-form-input">
				<input type="text" name="new_comment[name]" class="name-field" />
			</div>
		</div>
	</div>
</div>
