<span class="status-value menu-trigger"></span>
<select class="label-values" name="labels[]" multiple="multiple" style="display: none;">
</select>
<div class="label-chooser-wrap">
	<input
		type="hidden"
		class="dpe_select dpe_select_noborder labels-box"
		data-select-width="auto"
		data-placeholder="Add a label"
		value="{% if ticket and ticket.labels %}{% for label in ticket.labels %}{{ label.label }},{% endfor %}{% endif %}"
	/>
</div>
