{% set def_type = 'people' %}
{% extends 'AdminBundle:CustomDefAbstract:edit-choosetype.html.twig' %}
{% import 'AdminBundle:Common:design-macros.html.twig' as design %}
{% block pagebar %}
     <ul>
		<li><a href="{{ path('admin_customdefpeople') }}">{{ phrase('admin.custom_fields.people_fields') }}</a></li>
		<li>{{ phrase('admin.general.choose_field_type') }}</li>
     </ul>
{% endblock %}
