{% extends 'AdminBundle:CustomDefAbstract:index.html.twig' %}
{% import 'AdminBundle:Common:design-macros.html.twig' as design %}
{% block pagebar %}
     <nav>
          <ul>
               <li class="add"><a href="{{ path(route_basename~'new_choosetype') }}">{{ phrase('admin.general.add_field') }}</a></li>
          </ul>
     </nav>
     <ul>
          <li>{{ phrase('admin.custom_fields.people_fields') }}</li>
     </ul>
{% endblock %}
