{% for friend in friends %}
	{% include 'AgentBundle:TwitterUser:part-user.html.twig' with {'user': friend.friend_user} %}
{% endfor %}

{% if more %}
	<div class="more-box"><button class="clean-white more-button" data-load-url="{{ path('agent_twitter_user_following', {'user_id': user.id, 'page': more_page}) }}">{{ phrase('agent.general.view_more') }} <span class="flat-spinner" style="display: none"></span></button></div>
{% endif %}