{% extends 'ReportBundle:ReportBuilder:layout.html.twig' %}
{% block inner_page %}
	<section id="report-builder-intro">
		<h3>Report Builder</h3>

		<p>To begin, select a report you would like to view from the left column.</p>
	</section>
{% endblock %}