{% extends 'ReportBundle:ReportBuilder:layout.html.twig' %}
{% block inner_page %}
	<form action="{{ path('report_builder_query')}}" method="post" class="dp-form">
		{% include 'ReportBundle:ReportBuilder:query-editor.html.twig' %}

		<div class="report-actions">
			<button class="btn primary">Run Report</button>
		</div>

		{% if statement and not errors %}
			<div class="report-actions">
				<button class="btn" name="output" value="csv">CSV</button>
				<button class="btn" name="output" value="pdf">PDF</button>
				<button class="btn" name="run" value="1" onclick="window.print(); return false;">Print</button>
				<button class="btn" name="save" value="1">Save as Report</button>
			</div>
		{% endif %}

		{% if query %}
			{% include 'ReportBundle:ReportBuilder:results.html.twig' with {'includeQuery': true} %}
		{% endif %}
	</form>
{% endblock %}