{% extends 'AdminBundle::layout.html.twig' %}
{% block pagebar %}
	<ul>
		<li>DeskPRO</li>
	</ul>
{% endblock %}
{% block content %}
<div class="dp-page-box">
{{ page_html|raw }}
</div>
{% endblock %}
