<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="NOINDEX" />
	<meta http-equiv="X-UA-Compatible" content="IE=100" />

	{% include 'AgentBundle:Main:resources.html.twig' with {'no_interface_data': true} %}
</head>
<body>

</body>
</html>
