<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="NOINDEX" />
	<title></title>
	<script type="text/javascript">
		var url = '{{ path('agent_login') }}?return=' + escape('{{ return }}' + window.location.hash);
		window.location = url;

		window.onlod = function() {
			window.location = url;
		};
	</script>
<body>

</body>
</html>