<li class="organization-row organization-{{ organization.id }}" data-organization-id="{{ organization.id }}">
    <span> {{organization.name}} </span>
    <span class="remove btn-small-remove remove-row-trigger"></span>
</li>