{% set layout_tpl = 'AdminBundle::layout.html.twig' %}
{% set this_page = 'kb_fields' %}
{% extends 'AdminBundle:CustomDefAbstract:edit-choosetype.html.twig' %}
{% import 'AdminBundle:Common:design-macros.html.twig' as design %}
{% block pagebar %}
     <ul>
		<li><a href="{{ path('admin_customdefarticles') }}">{{ phrase('admin.custom_fields.article_fields') }}</a></li>
		<li>{{ phrase('admin.general.choose_field_type') }}</li>
     </ul>
{% endblock %}
