<div class="alert-message block-message info">
	Joomla single sign on can only be used if the <a href="{{ path('admin_plugins_plugin', {'plugin_id': 'Joomla'}) }}">Joomla plugin</a> has been configured.
</div>
