{##
 # The confirm page after the reset password link has been sent to a user.
 ##}

{% extends 'UserBundle::layout.html.twig' %}
{% block content %}
<section class="dp-portal-section dp-new-feedback-section">
	<header>
		<h1>{{ phrase('user.profile.reset_password') }}</h1>
	</header>
	<article>
		<p>
			{{ phrase('user.profile.reset_password_badcode') }}
		</p>
		<p>
			<a href="{{ path('user_login_resetpass') }}" class="dp-btn dp-btn-primary">{{ phrase('user.profile.reset_password_tryagain') }} &rarr;</a>
		</p>
	</article>
</section>
{% endblock %}