<li class="item-row" data-email="{{email}}">
	<div class="dp-block-controls">
		<ul>
			<li class="dp-remove delete-trigger" data-delete-url="{{ path('admin_banning_delemail', {'email': email}) }}"><span></span></li>
		</ul>
	</div>
	<lable>{{email}}</lable>
</li>
