<li class="item-row" data-ip="{{ip}}">
	<div class="dp-block-controls">
		<ul>
			<li class="dp-remove delete-trigger" data-delete-url="{{ path('admin_banning_delip', {'ip': ip}) }}"><span></span></li>
		</ul>
	</div>
	<lable>{{ip}}</lable>
</li>
