<header class="header">
	<div class="list-control-bar">
		<ul class="btn-controls">
			{% if account %}<li><label><input name="account" type="checkbox" style="position: relative; top: 2px" />
				{% set name_part %}<img src="{{ account.user.profile_image_url }}" width="18" height="18" alt="" style="position: relative; top: 4px" /> @{{ account.user.screen_name }}'s{% endset %}
				{{ phrase('agent.twitter.show_users_tweets', {name: name_part}, true) }}
			</label></li>{% endif %}
			<li><label><input name="archived" type="checkbox" style="position: relative; top: 2px" /> {{ phrase('agent.twitter.show_read_tweets') }}</label></li>
		</ul>
	</div>
</header>