<ul class="menu workflow_id {{add_classname}}" data-option-name="workflow_id" style="display:none">
	{% for id,title in workflows %}
		<li class="work-{{id}}" data-option-value="{{id}}">{{title}}</li>
	{% endfor %}
</ul>