{% extends 'AgentBundle:Common:common-listing.html.twig' %}
{% block pagemeta %}
pageMeta.fragmentClass = 'DeskPRO.Agent.PageFragment.ListPane.AgentTeamChatHistory';
pageMeta.agentTeamId = {{ agent_team.id|default(0) }};
{% endblock pagemeta %}
{% block pane_header %}
	<h1><i class="icon-dp-chat"></i> {{ phrase('agent.chat.list_title', {count: conversations|length}) }}</h1>
{% endblock %}
{% block listing %}
	{% include 'AgentBundle:AgentChat:list-team-part.html.twig' %}
{% endblock listing %}
{% block result_nav %}
	<div class="cursor">{{ phrase('agent.general.showing_results_x_of_y', {'display_count': '1-'~(conversations|length),'size':conversations|length}, true) }}</div>
{% endblock %}
