{% extends 'AgentBundle:Common:common-listing.html.twig' %}
{% block pagemeta %}
pageMeta.fragmentClass = 'DeskPRO.Agent.PageFragment.ListPane.AgentChatHistory';
pageMeta.agentId = {{ agent.id|default(0) }};
{% endblock pagemeta %}
{% block pane_header %}
	<h1><i class="icon-dp-chat"></i>
	{{ phrase('agent.chat.list_title', {count: conversations|length}) }}
{% endblock %}
{% block listing %}
	{% include 'AgentBundle:AgentChat:list-part.html.twig' %}
{% endblock listing %}
{% block result_nav %}
	<div class="cursor">
		{{ phrase('agent.general.showing_results_x_of_y', {'display_count': '1-'~(conversations|length),'size':conversations|length}, true) }}
	</div>
{% endblock %}
