{% extends 'AdminBundle::layout.html.twig' %}
{% block page %}
<form action="{{ path('admin_widgets_delete', {'widget_id': widget.id}) }}" method="post">

	<p>Are you sure you want to delete the widget {{widget.description}}?</p>
	<button class="btn">Delete Widget</button>

	<input type="hidden" name="process" value="1" />
	{{ form_token() }}
</form>
{% endblock %}