<dp:subject>{{ticket.subject}}</dp:subject>

<dp:agent-reply />

<br /><br />

<dp:ticket-history />

<br /><br />

{{ phrase('user.emails.ticket_access_ticket_online') }}
<a href="{{ ticket.link }}">{{ ticket.link }}</a>