<dp:subject>{{ phrase('user.email_subjects.tickets_re') }}</dp:subject>

<dp:agent-reply />

{% if show_rating_link %}<dp:ticket-rating-links />{% endif %}

<br /><br />

<dp:ticket-history />

<br /><br />

{{ phrase('user.emails.ticket_access_ticket_online') }}
<a href="{{ ticket.link }}">{{ ticket.link }}</a>