{% extends base_edit_tpl %}
{% block form_extra %}
	<div class="dp-form-row">
		<div class="dp-form-label">
			<label>{{ phrase('admin.custom_fields.html_to_display') }}</label>
		</div>
		<div class="dp-form-input">
			{{ form_widget(form.html, {attr: {rows: '6', cols: '80', style: 'height: 200px'} }) }}
		</div>
	</div>
{% endblock %}
