<header class="list-selection-bar">
	{{ phrase('agent.general.x_selected', {'num_placeholder': '<span class="selected-count">0</span>'}, true) }}

	<a class="perform-action perform-actions-trigger disabled">
		<span>{{ phrase('agent.general.perform_actions') }}</span>
	</a>

	<ul class="actions-menu" style="display: none" data-menu-type="people-actions-menu">
		<li data-action="delete">{{ phrase('agent.general.delete') }}</li>
	</ul>
</header>
