{% set page_noindex = true %}
{% extends 'UserBundle::layout.html.twig' %}
{% block content %}

{% if error_title %}<h1>{{error_title}}</h1>{% endif %}

<p>{{error_message}}</p>
<!-- DeskPRO -->
{% endblock %}